<div class="container-fluid">
    <section class="bg-dark">
        <div class="controls row">
            <div class="col-md-7" id="column-3">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="new.html" id="linkblock-7"><img
                            src="../../assets/img/TNSxlqM6RnaXVu4BrtMS.jpg"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="linkBar-6-navbarSupportedContent">
                        <ul class="navbar-nav ml-auto" id="navmenu-8">
                             
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="actve">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/about-us">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/article">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/contact-us">Contact-us</a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
                <h1 id="heading-27">
                    Let The World<br>
                    Hear Your Story
                </h1>
                <p id="paragraph-28">
                    New Blogs By <i><b>Sahil Khan</b></i>
                </p>
                <form id="form-29 py-5 " name="form-29">
                    <input type="text" placeholder="Enter your email" value="" id="textinput-33"> <a
                        class="btn btn-primary btn" href="#" id="button-34">Subscribe</a>

                </form>
            </div>
            <div class="col-md-5" id="column-24">
                <img src="../../assets/img/NaXH8TjrRlSGAikK0aRm.jpg" id="image-25"> <a class="btn btn-primary btn"
                    href="#" id="button-26">Subscribe</a>
            </div>
        </div>
    </section>


</div>